@model PaginationList<TransactionGetVM>

@{
    int no = Model.ItemsCount * (Model.Page - 1);
}

<style>
    td {
        letter-spacing: 1.2px;
        text-align: center;
        font-size: 14px;
        padding: 3px !important;
        vertical-align: middle !important;
    }

    th {
        padding: 4px !important;
        text-align: center;
    }
</style>

<table class="table table-bordered table-striped tblContent">
    <thead>
        <tr>
            <th class="col-lg-1 col-1 text-wrap">№</th>
            <th class="col-lg-1 col-1 text-wrap">Created At</th>
            <th class="col-lg-1 col-1 text-wrap">Order Id</th>
            <th class="col-lg-1 col-1 text-wrap">Session Id</th>
            <th class="col-lg-1 col-1 text-wrap">Success?</th>
            <th class="col-lg-1 col-1 text-wrap">Top Up?</th>
            <th class="col-lg-1 col-1 text-wrap">From <br /> Balance?</th>
            <th class="col-lg-1 col-1 text-wrap">Amount</th>
            <th class="col-lg-1 col-1 text-wrap">Phone</th>
            <th class="col-lg-1 col-1 text-wrap">Delete</th>
            <th class="col-lg-1 col-1 text-wrap">Refund</th>
        </tr>
    </thead>
    <tbody>
        @foreach (TransactionGetVM transaction in Model)
        {
            no++;
            <tr>
                <td class="col-lg-1 col-1 text-wrap">@no</td>
                <td class="col-lg-1 col-1 text-wrap">
                    @transaction.CreatedAt.GetValueOrDefault().ToString("dd/MM/yyyy")
                    <br />
                    @transaction.CreatedAt.GetValueOrDefault().ToString("HH:mm:ss")
                </td>
                <td class="col-lg-1 col-1 text-wrap">@transaction.OrderId</td>
                <td class="col-lg-1 col-1 text-wrap">@transaction.SessionId</td>
                <td class="col-lg-1 col-1 text-wrap @(transaction.PaymentIsSuccessful ? "text-success" : "text-danger")">@(transaction.PaymentIsSuccessful ? "Yes" : "No")</td>
                <td class="col-lg-1 col-1 text-wrap  @(transaction.IsTopUp ? "text-success" : "text-danger")">@(transaction.IsTopUp ? "Yes" : "No")</td>
                <td class="col-lg-1 col-1 text-wrap  @(transaction.IsFromBalance ? "text-success" : "text-danger")">@(transaction.IsFromBalance ? "Yes" : "No")</td>
                <td class="col-lg-1 col-1 text-wrap">@transaction.Amount azn</td>
                <td class="col-lg-1 col-1 text-wrap">@transaction.AppUser.PhoneNumber</td>
                <td class="col-lg-1 col-1 text-wrap">
                    <a class="btn btn-danger deleteBtn p-1" asp-area="Manage" asp-controller="Transaction"
                       asp-action="Delete" asp-route-id="@transaction.Id" asp-route-select="@ViewBag.Select" asp-route-sessionId="@ViewBag.SessionId"
                       asp-route-orderId="@ViewBag.OrderId" asp-route-phone="@ViewBag.Phone" asp-route-page="@ViewBag.Page">Delete</a>
                </td>
                <td class="col-lg-1 col-1 text-wrap">
                    <a class="btn btn-warning deleteBtn p-1" asp-area="Manage" asp-controller="Transaction"
                       asp-action="Refund" asp-route-id="@transaction.Id" asp-route-select="@ViewBag.Select" asp-route-sessionId="@ViewBag.SessionId"
                       asp-route-orderId="@ViewBag.OrderId" asp-route-phone="@ViewBag.Phone" asp-route-page="@ViewBag.Page">Refund</a>
                </td>
            </tr>
        }
    </tbody>
</table>