@model PaginationList<VinCodeGetVM>

@{
    int no = Model.ItemsCount * (Model.Page - 1);
}

<style>
    td {
        letter-spacing: 1.2px;
        text-align: center;
        padding: 3px !important;
        vertical-align: middle !important;
    }

    th {
        text-align: center;
    }
</style>

<table class="table table-bordered table-striped tblContent">
    <thead>
        <tr>
            <th class="col-lg-1 col-1 text-wrap">№</th>
            <th class="col-lg-1 col-1 text-wrap">Vin Code</th>
            <th class="col-lg-1 col-1 text-wrap">Purchased Times</th>
            <th class="col-lg-1 col-1 text-wrap">Created At</th>
            <th class="col-lg-1 col-1 text-wrap">Open</th>
            <th class="col-lg-1 col-1 text-wrap">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (VinCodeGetVM vinCode in Model)
        {
            no++;
            <tr>
                <td class="col-lg-1 col-1 text-wrap">@no</td>
                <td class="col-lg-1 col-1 text-wrap">@vinCode.Vin</td>
                <td class="col-lg-1 col-1 text-wrap">@vinCode.PurchasedTimes</td>
                <td class="col-lg-1 col-1 text-wrap">
                    @vinCode.CreatedAt.GetValueOrDefault().ToString("dd/MM/yyyy")
                    <br />
                    @vinCode.CreatedAt.GetValueOrDefault().ToString("HH:mm:ss")
                </td>
                <td class="col-lg-1 col-1 text-wrap">
                    <a class="btn btn-warning" asp-area="Manage" asp-controller="Report"
                       asp-action="Index" asp-route-fileName="@vinCode.FileName">Open</a>
                </td>
                <td class="col-lg-1 col-1 text-wrap">
                    <a class="btn btn-danger deleteBtn" asp-area="Manage" asp-controller="Vincode"
                       asp-action="Delete" asp-route-id="@vinCode.Id" asp-route-select="@ViewBag.Select" asp-route-vin="@ViewBag.Vin" asp-route-page="@ViewBag.Page">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>